<h1>Добро пожаловать во Вспышку, <%= @user.profile.name %>!</h1>
<p>
  Мы получили твои даннные, внимательно проверь их:
  Твой юзернейм: <%= @user.username %>.<br>
</p>
<p>
  Чтобы зайти на сайт, перейди по ссылке: <%= link_to 'login', login_url %>.
</p>
<p>Спасибо, что присоединился к нашей команде!</p>