<p style="color: green"><%= notice %></p>

<% content_for :title, "Факультеты" %>

<h1>Факультеты</h1>

<div id="faculties">
  <% @faculties.each do |faculty| %>
    <% if faculty.id == 2 %>
      <h2><%= link_to "Проверяю условие", faculty %></h2>
    <% else %>
      <h2><%= link_to faculty.name, faculty %></h2>
    <% end %>
  <% end %>
</div>

<%= link_to "New faculty", new_faculty_path %>
