<% content_for :title, "Editing faculty" %>

<h1>Editing faculty</h1>

<%= render "form", faculty: @faculty %>

<br>

<div>
  <%= link_to "Show this faculty", admin_faculty_path(@faculty) %> |
  <%= link_to "Back to faculties", admin_faculties_path %>
</div>
