<h1>Вспышка</h1>
<p>Медиа-сервис</p>

<%= session.to_json %>
<%= cookies.to_json %>

<h2>Подпишитесь на рассылку по почте</h2>
<div id="email_subscription_form">
  <%= render 'email_subscriptions/form' %>
</div>
