<% content_for :title, "Архив событий" %>

<h1>Архив событий</h1>
<div id="C_Events">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class: 'M_EventCard' do %>
      <%= event.hosted_at.strftime("%d/%m/%Y") %>
      <%= render event %>
    <% end %>
  <% end %>
</div>