<% set_meta_tags( 
  title: "Создать новую встречу",
  keywords: "Студорги, Студенческие организации, События, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<h1>New meet</h1>

<%= render "form", meet: @meet %>

<br>

<div>
  <%= link_to "Back to meets", meets_path %>
</div>
