.A_NavbarAvatar {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.A_NavbarAvatar img:not(.A_NavbarProfileIcon) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.A_NavbarProfileIcon {
    @extend .A_NavbarIcon !optional;
    width: 24px !important;
    height: 24px !important;
    color: #666;
}