.A_NavbarPageLink {
    display: flex;
    font-family: 'TT Interphases Educational';
    font-size: 18px;
    color: #0F0F0F;
    font-weight: 500px;
    text-decoration: none;
    align-items: center;
    padding: 10px 0px;
}