.M_Notification {
  padding: 10px 16px;
  border-bottom: 1px solid var(--f0f0f0);
  transition: background-color 0.2s;
}
.M_Notification:last-child {
  border-bottom: none;
}
.M_Notification a {
  text-decoration: none;
  color: var(--333);
  display: block;
}
.M_Notification:hover {
  background-color: var(--f9f9f9);
}
.M_Notification--new {
  background-color: var(--fffbea);
}