.O_CommunitiesTitle {
  font-family: 'TT Commons Pro Educational Variable', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.9;
  font-size: clamp(2.5rem, 10vw, 7.75rem);
  word-wrap: break-word;
}