.Q_Icon {
    &.Q_IconEdit {
        width: 24px;
        height: 24px;
    }

    &.Q_IconSearch {
        background: url('icons/IconSearch.svg') center / cover no-repeat;
    }

    &.Q_IconAdd {
        background: url('icons/IconAdd.svg') center / cover no-repeat;
    }

    &.Q_IconProfile {
        background: url('icons/IconProfile.svg') center / cover no-repeat;
    }
}