* {
    box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
    padding: 40px 150px 0px 150px;
    font-family: 'TT Interphases Educational', sans-serif;
    background-color: var(--almostwhite);

    background:
    url('grid_bottom.svg') no-repeat top center,
    url('grid_bottom.svg') no-repeat bottom center,
    linear-gradient(to bottom, #ffffff 0%, #6C63FF 100%);
}

h1 {
    font-size: 48px;
    margin: 20px 0px 20px 0px;
}

h2 {
    font-size: 28px;
    margin: 20px 0px 20px 0px;
}

.S_Menubar {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        column-gap: 14px;
    }
}

.M_EventCard {
    display: block;
    padding: 20px;
    background-color: var(--gray);
    border-radius: 20px;
    
    a {
        text-decoration: none;
        color: black;
    }
}

.M_MeetCard {
    display: block;
    padding: 20px;
    background-color: var(--gray);
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.A_EventCover {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.A_CommunityCover {
    width: 50%;
    height: 300px;
    object-fit: cover;
}

.M_Comment {
    display: block;
    width: 700px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.M_Reply {
    margin: 20px 0px 0px 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
}

// 

select, ::picker(select) {
    appearance: base-select;
}

label {
    width: fit-content;
    align-self: center;
}

select {
    flex: 1;
}

select {
    border: 1px solid #ddd;
    background: #eee;
    padding: 10px;
    transition: 0.4s;
}

select:hover, select:focus {
    background: #ccc;
}

select::picker-icon {
    color: #ccc;
    transition: 0.4s rotate;
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
    border: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px 20px 10px 20px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

// option:nth-of-type(odd) {
//   background: #fff;
// }

option:hover, option:focus {
  background: #ccc;
}

option .icon {
  font-size: 1.6rem;
  text-box: trim-both cap alphabetic;
}

selectedcontent .icon {
  display: none;
}

option:checked {
  font-weight: bold;
}

option::checkmark {
    display: none;
}

::picker(select) {
  opacity: 0;
  transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
  opacity: 1;
}

@starting-style {
  ::picker(select):popover-open {
    opacity: 0;
  }
}
::picker(select) {
  top: calc(anchor(bottom) + 10px);
//   left: anchor(10%);
}
