@font-face {
    font-family: 'TT Interphases Educational';
    src: font-url('fonts/TT-Interphases-Educational-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
  font-family: 'TT Interphases Educational';
  src: font-url('fonts/TT-Interphases-Educational-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons Pro Educational Variable';
  src: font-url('fonts/TT-Commons-Pro-Educational-Variable.ttf') format('truetype');
}  