<form action='<%= welcome_search_path %>' method = 'POST' data-turbo = 'false' data-controller = 'search'>
<input type='text' placeholer ='Введи запрос', name='search' data-search-target = 'query'>
<input type='submit' value ='Найти' data-action = 'click->search#getSearch'>
</form>