<% set_meta_tags( 
  title: "Редактировать сообщество",
  description: "Все студенческие организации Вышки от студентов и работников университета", 
  keywords: "Студорги, Студенческие организации, События, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<h1>Editing community</h1>

<%= render "form", community: @community %>

<br>

<div>
  <%= link_to "Show this community", @community %> |
  <%= link_to "Back to communities", communities_path %>
</div>
