<% set_meta_tags( 
  title: "Сообщества",
  description: "Все студенческие организации Вышки от студентов и работников университета", 
  keywords: "Студорги, Студенческие организации, События, Мероприятия, Ивенты, Тусовки, Вышка, НИУ ВШЭ, ВШЭ" )%>

<h1>Сообщества</h1>

<div id="communities">
  <% @communities.each do |community| %>
    <%= link_to community do %>
      <%= render community %>
    <% end %>
  <% end %>
</div>

<% if current_user && current_user.role == "admin" %>
  <%= link_to "New community", new_admin_community_path %>
<% end %>